/*Croppie
#upload-demo
{
    width: 300px;
    height: 300px;
}


/*Background color site*/
input[type="file"]
{
    display: none;
}

#continuar
{
    display: none;
}

.site
{
    background: #ACA5CF;
}


.subtitulos{
    color: #ffffff;
}


.button{
    background-color: #B1D895;
    color: #ffffff;
}


.front-img{
    position:absolute;
    /*margin: auto;*/
    top: 0px;
    left: 0;
    /*right: 0;*/
    text-align: center;
    z-index: 100;
}


.custom-img{
    position:absolute;
    /*margin: auto;*/
    top: 0px;
    left: 0;
    /*right: 0;*/
    text-align: center;
    z-index: 10;
}


.back-img{
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -10;
    border: 2px solid rgb(177, 216, 149);
    max-width:100%;
    max-height:100%;
    /*display: block;
    margin: auto;*/
}


.frase-img{
    float: left;
    position: absolute;
    /*left: 0px;*/
    top: 0px;

    margin: auto;
    z-index: 1000;
    word-break:break-all;
    white-space:normal;
    /*overflow:hidden;*/
}


.modal-frase{
    line-height: 250px;
    word-break: break-all;
    white-space: normal;
    width: 50%;
    margin: 50px auto;
}


.modal-dialog {
    width: 100%;
    margin: 30px auto;
}


.product-title{
    padding: .5em 0;
    margin: 0;
    font-size: 1.2em;
}


.page-header {
    padding: 30px 0px;
    border-top: 1px solid #e9e9e9;
    background: #f8f9f9;
    border-bottom: 1px solid #e9e9e9;
}


.entry-title{
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.5;
    color: #ACA5CF;
}


.img-precargadas{
    max-height: 50vh;
    width: 100%;
    border: 3px solid #73AD21;
    /*overflow: scroll;*/
    overflow-y: scroll;
    overflow-x: hidden;
    height:auto;
}

.centrar-img{
    display: block;
    margin: 10px auto;
}


.marco{
    padding: 0;
    overflow: hidden;
}